.center {
	text-align: center;
	margin: auto;
}

body {
	margin: auto;
	font-family: sans-serif;
	font-size: 16px;
}

td {
	padding: 10px 0;
}

a {
	color: #366494;
}

#nav b {
	color: #1e2123;
}

.right {
	float: right;
	margin: 0;
	padding: 0;
}

#menu {
	color: #069;
	background-color: #303f6e;
	padding: 0.7ex;
}

#menu a, #menu b {
	padding: 0.5ex 1ex;
	color: #fff;
}

#menu a:hover {
	background-color: #069;
}

#menu a, #nav a, #nav b {
	text-decoration: none;
}

#nav a:hover {
	background-color: #ddd;
}

#nav {
	/*background-color: #fff;*/
	float: left;
	margin: 0 1px 0 0;
	padding: 1em 0;
	border-right: 1px dotted #ccc;
	width: 200px;
	position: absolute;
	z-index: 2;
}

#nav ul {
	margin: 0;
	padding: 0;
}

#nav li {
	list-style: none;
	padding: 0;
	margin: 0;
}

#nav li ul {
	padding-left: 0.6em !important;
}

#nav li a, #nav li b {
	display: block;
	margin: 0;
	padding: 0.8ex 2em 0.8ex 1em;
}


