#character {
	font-size: 30vmin;
	font-weight: bold;
	align-self: center;
}

#answer {
	height: 133px;
}

#scolding {
	height: 134px;
}

body {
	margin: auto;
}

table {
  border-collapse: separate;
  border-spacing: 50px 0;
}

td {
  padding: 10px 0;
}
