@font-face {
  font-family: "Sukhumvit";
  src: url(sukhumvit.ttf) format("truetype");
}

#character {
	font-size: 30vmin;
}

#main_panel {
	width: 300px;
	position: relative;
}

.side_panel {
	width: 300px;
}
